.ant-layout {
    background-image: url("https://www.planwallpaper.com/static/cache/2c/3d/2c3d2c7bd62eebf5312d28ed7b162197.jpg");
    background-repeat: no-repeat;
    background-size: cover;
/* background-color: black; */
    
}
 